header {
  background-color: #ff0;
  display: flex;
  justify-content: flex-end;
  height: 100px;
  width: 100%;

  @media (max-height: 750px), (max-width: 1000px) {
    height: 60px;
  }

  a {
    color: #fff;
    float: right;
    cursor: url('../assets/rofl2.png') 0 0, auto;
    padding: 30px 40px;
    font-size: 40px;
    line-height: 1em;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;

    @media (max-height: 750px), (max-width: 1000px) {
      font-size: 20px;
      padding: 20px 30px;
    }
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a.on {
    color: #000;
    -webkit-text-stroke-color: #fff;
  }
}