* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  box-sizing: border-box;
  cursor: url('assets/rofl1.png') 0 0, auto;
  font-family: Impact, Charcoal, sans-serif;
  color: #fff;
  letter-spacing: 0.05em;
}

main {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 100px);
  opacity: 1;
  transition: all 0.3s 0.3s;
  width: 100%;

  @media (max-height: 750px), (max-width: 1000px) {
    min-height: calc(100vh - 60px);
  }
  
  &.hidden {
    opacity: 0;
  }

  div {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 40px;
    position: relative;
    width: 100%;
  }
}

button {
  align-items: center;
  background-color: white;
  border: none;
  cursor: url('assets/rofl2.png') 0 0, auto;
  display: flex;
  font-size: 24px;
  height: 50px;
  justify-content: center;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 120px;
  width: 50px;
  z-index: 1;

  @media (max-height: 750px), (max-width: 1000px) {
    top: 80px;
  }

  &:hover {
    background-color: #ff0;
  }
}

#title { display: block; }

.line2 {
  background-color: #fff;
  
  h1 {
    color: black;
    
    &:after {
      color: white;
      -webkit-text-stroke: 1px white;
    }
  }
}

h1 {
  font-size: 52px;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 2;
  
  &:after {
    color: black;
    content: attr(data-text);
    left: 0;
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 1px black;
  }

  @media (max-height: 750px), (max-width: 1000px) {
    font-size: 24px;
  }
}

img {
  position: absolute;
  height: 120px;
  width: auto;
  z-index: 1;
}
